
<div class="container">
  <div class="jumbotron">
    <p>
      <strong>Date:</strong>
      <%= @workout.date%>
    </p>

    <p>
      <strong>Workout:</strong>
      <%= @workout.workout %>
    </p>

    <p>
      <strong>Mood:</strong>
      <%= @workout.mood %>
    </p>


    <p>
      <strong>Duration:</strong>
      <%= @workout.length %>
    </p>


    <p>
      <strong>Entry Details:</strong>
      <%= @workout.entry_details %>
    </p>
  </div>

</div>
